# Ignore all files and folders
/*

# Whitelist the engine folders
!/include
!/interface
!/source
!/inline
!/cmake

# Whitelist the distribution files
!/CMakeLists.txt
!/LICENSE.txt
!/README.md
!/.gitignore
!/install-debug.sh
!/install-release.sh

# Remove all .DS_Store files (macOS pain)
.DS_Store